<ul class="todo-items-wrapper list-group col">
  {{#each todos}}
    <li class="list-group-item js-todo-item">
      <form class="d-flex justify-content-between js-todo-form">
        <div class="form-check">
          <input type="checkbox" {{#if isDone}}checked{{/if}} id="todoItemCheckbox" class="form-check-input" data-id={{id}}>
          <label for="todoItemCheckbox" class="form-check-label">
            {{#if isDone}}
              <del>{{text}}</del>
            {{else}}
              {{text}}
            {{/if}}
          </label>
        </div>
        <button class="btn btn-link p-0" data-id={{id}}>Remove</button>
      </form>
    </li>
  {{/each}}
</ul>
